body,
html {
  background-color: #f8f8ff;
  background-attachment: fixed;
  height: 80%;
  width: 90%;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 80px;
}

h2 {
  text-align: center;
  color: #646681;
  font-size: xx-large;
  font-weight: 1000;
}

.form-input {
  flex: 0.7;
  background-color: #8f8f9845;
  padding: 8px;
  margin: 2px;
  font-size: 1.2rem;
  color: rgb(52, 50, 50);
  border-radius: 10px;
  border: none;
  height: 30px;
}

::placeholder {
  font-size: larger;
  text-align: start;
  font-weight: bolder;
  padding: 10px;
}

input.button {
  background-color: #6370f0;
  color: #ecedf6;
  border-radius: 10px;
  border: none;
  flex: 0.1;
  margin: 1px;
  padding: 6px;
}

input#datepicker {
  flex: 0.3;
}

.button:hover {
  background-color: #2536ce;
  border: none;
}

.form {
  display: flex;
  margin: 20px;
  border-spacing: 50px;
  width: 60%;
}

ul {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 15px;
}

ul li {
  list-style: none;
  padding: 20px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.list-container {
  display: flex;
  flex-direction: column;
  background-color: #ecedf6;
  margin: 20px;
  padding: 10px 0px;
  font-size: large;
  border-radius: 10px;
  justify-self: center;
}

.task-container {
  margin: 40px;
  padding: 10px;
  border-radius: 20px;
}

.btn1 {
  background-color: #eeeeee;
  color: #585858;
  border-radius: 5px;
  border: none;
  padding: 8px;
  margin: 0px 5px;
  flex: 0.03;
}

.btn2 {
  background-color: #eeeeee;
  color: #585858;
  border-radius: 5px;
  border: none;
  padding: 8px;
  margin: 0px 2px;
  flex: 0.03;
}

.btn3 {
  display: flex;
}

.text {
  font-size: 21px;
  width: 60%;
  overflow-wrap: break-word;
}

input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  accent-color: #6370f0;
}

span.date {
  width: 35%;
  font-size: 21px;
}

span#status {
  padding: 0 90px;
}

span#text {
  min-width: 45%;
  position: relative;
}
