body,html{
    background: linear-gradient(#31B7C2,#7BC393);
    background-attachment:fixed;
    height: 100%;
    width: 70%;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0px 8px;
    padding: 0px 25px;
    
}


th,td{
    border: 1px solid black;
    width: auto;
    height: auto;
    padding: 10px;
}

.table-content{
    margin: 5px;
    padding: 5px;
    border-spacing: 0px;
    align-content: center;   
}

.form-input{
    flex: 2;
    background-color:whitesmoke;
    padding: 2px;
    border: 1px solid black;
    margin: 2px;
    font-size: 1.2rem;
    color: black;

}

.button{
    flex:0.3;
    background-color:rgb(26, 108, 130);
    color: white;
}
.button:hover{
    background-color: cadetblue;
    border: none;
    opacity: 0.9;
}

.form{
    display: flex;
}
